<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Manager</title>
    <link rel="stylesheet" href="/assets/css/home-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- <ul class="li"><a href="">Home</a></ul>
<ul class="li"><a href="views/login/">Sigin</a></ul>
<ul class="li"><a href="views/register/">sigup</a></ul>
<ul class="li"><a href="">Profile</a></ul>
<ul class="li"><a href="views/user/">list-user</a></ul> -->
<div class="container">
    <div class="navbar">
        <img src="/assets/image/logo.png" alt="" class="logo">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="views/login/">Login</a></li>
                <li><a href="views/register/">register</a></li>
            </ul>
        </nav>
        <img src="/assets/image/menu.png" class="menu-icon" alt="">
    </div>
    <div class="row">
        <div class="col">
            <h1>Book Management</h1>
            <p>Welcome to Our System </p>
        </div>
        <div class="col">
            <div class="card card1">

            </div>
            <div class="card card2">

            </div>
            <div class="card card3">

            </div>
            <div class="card card4">

            </div>
            <div class="card card2">

            </div>
            <div class="card card1">

            </div>
        </div>
    </div>
</div>

</body>
</html>