*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/assets/image/book-background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
    font-size: 16px;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis:50% ;
}
h1 {
    color: #fff;
    font-size: 100px;
}
p {
    color: #fff;
    font-size: 50px;
    line-height: 15px;
    padding: 20px 0;
}

.card {
    width: 230px;
    height: 260px;
    display:  inline-block;
    border-radius: 10px;
    padding: 12px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition:  transform 0.5;
}
.card1 {
    background-image: url(/assets/image/book-5.jpg);
}
.card2 {
    background-image: url(/assets/image/book-2.jpg);
}
.card3 {
    background-image: url(/assets/image/book-3.jpg);
}
.card4 {
    background-image: url(/assets/image/book-4.jpg);
}
.card:hover {
    transform: translateY(-10px);
}
